.white_font{
    color: aliceblue;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    text-align: center;
    font-family: 'Chakra Petch', sans-serif;
}

.margin_auto{
    margin: 0 auto;
}

.small_length{
    font-size: 0.8rem;
    margin: 0 auto;
}

.highlighted{
    background: linear-gradient(140deg, rgba(54, 190, 255, 1) 0%, rgba(115, 63, 241, 1) 100%);
        -webkit-background-clip: text;
        background-clip: text;
        color: transparent;
}

.flex_row{
    display: flex;
    justify-content: space-around;
    margin-top: 15px;
    width: 350px;
}

.button{
    padding: 8px;
    margin-right: 5px;
    background-color: rgba(154, 23, 121, 0);
    color: aliceblue;
    border-radius: 5px;
    margin-top: 15px;
    margin-bottom: 15px;
    font-size: 1rem;
    border: 1px rgba(115, 63, 241, 1) solid;
    cursor: pointer;
    font-family: 'Chakra Petch', sans-serif;
}

.spacer{
    width: 55%;
    border-top: 1px rgba(54, 190, 255, 1) solid;
    height: 5px;
    margin: 0 auto;
    padding-top: 15px;
    margin-bottom: 5px;
}

.homepage_btn{
    padding: 5px;
    border-radius: 5px;
    border: 1px rgba(54, 190, 255, 1) solid;
    background-color: rgba(255, 222, 173, 0);
    color: aliceblue;
    margin-bottom: 25px;
    cursor: pointer;
    font-family: 'Chakra Petch', sans-serif;
}

.homepage_btn:hover{
    color: rgba(54, 190, 255, 1);
    border: 1px aliceblue solid;
    zoom: 1.1;
}